html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}
ol {
    list-style: none outside none;
}
ul {
    list-style: inside;
}

ul {
    list-style: inside;
}


article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    background-image: url('../images/header_bg.jpg');
    background-repeat: no-repeat;
}

.mainHeader{
    background-image: linear-gradient(to bottom, rgba(20,20,20,0.5), rgba(20,20,20,0.1));
    width: 100%;
    height: 80px;
    color: #ffffff;
}

.headerBlock{
    float: left;
    height: 80px;
    margin-right: 20px;
    margin-top: 13px;
}

.phoneBlock{
    background: #00a1ff7a;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    font-weight: 700;
    height: 35px;
    float: right;
    display: inline-block;
    line-height: 35px;
    padding: 0 10px;
    margin: 20px 20px 0 0;
}

.companyName{
    margin: 0px auto;
    width: 250px;
    font-size: 30px;
    font-weight: 700;
    padding-top: 20px;
    color: #efff00;
}

.headerPhrase{
    text-align: center;
    margin: 2px auto 0 auto;
    width: 250px;
    color: #efff00;
}

.addressBlock{
    background: #00a1ff7a;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    font-weight: 700;
    height: 35px;
    float: left;
    display: inline-block;
    line-height: 35px;
    padding: 0 10px;
    margin: 20px 0 0 20px;
}

.headerWrapper{
    margin: 0 auto;
}

.serviceType{
    background-color: #ffffff;
    float: left;
    border-radius: 3px;
    padding: 15px 20px;
    height: 270px;
    width: 230px;
    margin: 10px;

}
.serviceTypeHeader{
    font-size: 25px;
    margin-bottom: 10px;
    font-family: monospace;
    font-weight: bold;
}

.content{
    max-width: 880px;
    display: table;
    margin: 0 auto;
}

ul li {
    padding-bottom: 7px;
}

.ourServicesPhrase{
    color: white;
    text-align: left;
    margin-left: 22px;
    font-size: 25px;
    font-weight: bold;
}






